@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100&display=swap');

body{
    background-color:black;
    color: silver;
    background-repeat: no-repeat;
    background-size:cover;
    color: silver;
    margin:20px;
    font-family: 'Noto Sans SC', sans-serif;
    height:100vh;
}

#contact {
    padding: 50px 0;
  }
  #contact h2 {
    font-size: 2rem;
  }
  #contact form {
    max-width: 500px;
    margin: 0 auto;
  }

  #contact {
    padding: 50px 0;
    background-color: #F9F9F9;
  }
  #contact h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  #contact form {
    max-width: 500px;
    margin: 0 auto;
  }
  #contact .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  #contact .form-control {
    height: 50px;
    font-size: 1rem;
    border-radius: 0;
  }
  #contact textarea.form-control {
    height: auto;
  }
  #contact button[type="submit"] {
    height: 50px;
    border-radius: 0;
    background-color: #007BFF;
    border-color: #007BFF;
  }
  #contact button[type="submit"]:hover {
    background-color: #0069D9;
    border-color: #0062CC;
  }
  header {
    position: sticky;
    top: 0;
  }

  .nav-item {
    font-weight:bold;
    color: silver;
    transition:color 0.2s ease-in-out;
    display: flex;
}

.brand {
    font-weight: bold;
    text-decoration: none;
    color:silver;
}

ul{
    list-style-type: none;
    display: flex;
}

.navbar a.nav-link {
    color: silver;
  }

  .footer-item {
    display: flex;
  }