body{
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
    color: silver;
    /* margin:20px; */
    
}

header {
  position: sticky;
  top: 0;
}

.nav-item {
    font-weight:bold;
    color: silver;
    transition:color 0.2s ease-in-out;
    display: flex;
}

.brand {
    font-weight: bold;
    text-decoration: none;
    color:silver;
}

ul{
    list-style-type: none;
    display: flex;
}

.navbar a.nav-link {
    color: silver;
  }
  .mother{
    display:flex
  }
  .child2{
    font-size: larger;
  }
  .bigger{
    display: flex;
    padding: 10px;
  }

  .footer-item {
    display: flex;
  }
    



